.popup__createcardname {
        height: 27px;
        border-width: 0px 0px 1px;
        border-bottom: 1px solid silver;
        margin-top: 54px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
}

@media screen and (max-width: 400px) {
        .popup__createcardname {
                margin-top: 20px;
                font-size: 12px;
        }
      }