.popup__submit_avatar {
    height: 50px;
    width: 358px;
    padding: 0;
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    .popup__submit_avatar {
        width: 258px;
        margin-top: 120px;
    }
  }

@media screen and (max-width: 400px) {
    .popup__submit_avatar {
        width: 210px;
        margin-top: 86px;
        font-size: 14px;
        height: 40px;
    }
  }