.popup__close_avatar {
    width: 58px;
    height: 58px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    background-image: url('../../../../images/CloseIcon.png');
    margin-top: -64%;
    margin-right: -107%;
}

.popup__close_avatar:hover {
    opacity: .6;
    transition: .3s;
}